<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard/templates/CSS/Stylelogin.css">
    <title>Login</title>
</head>
<body>

	<div id="preloader" style="display: block">
			<div class="loading" style="opacity: 0;">
				<svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
				<circle class="loading__center" cx="100" cy="100" r="7" />
				<rect class="loading__rect" x="65" y="65" width="70" height="70" rx="20" />
				<path class="loading__line loading__line--1" d="M100 100c49-26.7 76.7-26.7 860 100 7.6 40-50 75-86 90s-85 16-84-90c.7-70.7 23.3-82.3 68-35l35" />
				<path class="loading__line loading__line--2" d="M100 100C88 20.7 73-.1 55 25c-27 44-18 178 45 143s83-134 41-148c-28-9.3-41.7 7-41 49.2V119" />
				<!-- <circle class="loading__dot loading__dot--1" cx="100" cy="104" r="7" /> -->
				<circle class="loading__dot loading__dot--2" cx="100" cy="82" r="10" />
				<circle class="loading__dot loading__dot--3" cx="100" cy="122" r="5" />
				<mask id="loading__mask">
					<rect class="loading__rect loading__rect--masked" transform="rotate(45 100 100)" x="65" y="65" width="70" height="70" rx="6" />
				</mask>
				<path class="loading__line loading__line--masked loading__line--1" mask="url(#loading__mask)" d="M100 100c49-26.7 76.7-26.7 86 0 7.6 40-50 75-86 90s-85 16-84-90c.7-70.7 23.3-82.3 49.2V119" />
				<path class="loading__line loading__line--masked loading__line--2" mask="url(#loading__mask)" d="M100 100C88 20.7 73-.1 55 25c-27 44-18 178 45 143s83-134 41-148c-28-9.3-41.7 7-41 49.2V119" />
				</svg>
				<div class="loading__title">
				Dashboard Scania Latin America
				</div>
			</div>
	</div>


    <h2>Registre-se ou Efetue sua Conexão para o Dashboard Scania!</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/dashboard/templates//Home/Register.html">
			<h1>Criar Cadastro</h1>
			<button class="SignUp btn btn-white btn-animate">Registrar</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/dashboard/templates/Home/Dash.html">
			<h1>Conectar</h1>
			<span>use sua conta.</span>
			<input type="email" placeholder="E-mail" />
			<input type="password" placeholder="Senha" />
			<a href="#">Esqueceu sua senha ?</a>
			<button class="SignIn btn btn-white btn-animate">Conectar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bem-vindo de Volta</h1>
				<p>Para continuar conectado com nosso sistema utilize sua conta.</p>
				<button class="ghost btn-animate" id="signIn">Conectar</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Olá, Colaborador!</h1>
				<p>Acesse a página de cadastro para se registrar a partir de suas informações.</p>
				<button class="ghost btn-animate" id="signUp">Registrar</button>
			</div>
		</div>
	</div>
	<footer id="footer">
		<p>
			Criado <i class="fa fa-heart"></i> por
			<a target="_blank" href="https://scaniaazureservices.sharepoint.com/teams/MeuChassis/SitePages/HOME_MANAGEMENT_STRATEGIC_ED1.aspx">SPS Chassis</a>
			- Para saber mais sobre nosso trabalho e nossas informações de contato
			<a target="_blank" href="https://outlook.office365.com/mail/group/scaniaazureservices.onmicrosoft.com/meuchassis/email">Aqui.</a>.
		</p>
	</footer>
</div>

<script src="/dashboard/templates/JS/login.js"></script>
<script>
	document.getElementById("footer").style.display = "none";
	var i = setInterval(function () {
    
    	clearInterval(i);

    	
    	document.getElementById("preloader").style.display = "none";
		document.getElementById("footer").style.display = "inline";
    	document.getElementById(".container").style.display = "inline";

	}, 5000);


	"use strict";
	const loadingElement = document.getElementsByClassName("loading")[0];
	setTimeout(() => {
    	loadingElement.classList.add("active");
	}, 10);
	window.addEventListener("click", () => {
    	loadingElement.classList.remove("loading");
    	setTimeout(() => {
        	loadingElement.classList.add("loading");
    	}, 10);
	});
</script>


</body>
</html>