@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(255,147,147);
    background: linear-gradient(90deg, rgba(255,147,147,1) 0%, rgba(255,36,36,0.8883928571428571) 50%, rgba(250,65,65,1) 100%);
    position: relative;
    overflow: hidden;
  }

  footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
  
  .c-checkbox {
    display: none;
  }
  
  .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form__toggle {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
  }
  .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form {
    width: 382px;
  }
  .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) {
    visibility: visible;
    opacity: 1;
  }
  .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__border {
    width: 100%;
  }
  .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
  .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
    color: #ff0033;
  }
  .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:required:valid ~ .c-form__border,
  .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:required:valid ~ .c-form__next {
    pointer-events: initial;
    color: #41f1b6;
  }
  
  .c-checkbox:nth-of-type(2):checked ~ .c-form__progress {
    width: calc(100vw / 3);
  }
  .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) {
    visibility: hidden;
    opacity: 0;
  }
  .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__border {
    width: 0;
  }
  .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) {
    visibility: visible;
    opacity: 1;
  }
  .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__border {
    width: 100%;
  }
  .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
  .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
    color: #ff0033;
  }
  .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:required:valid ~ .c-form__border,
  .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:required:valid ~ .c-form__next {
    pointer-events: initial;
    color: #41f1b6;
  }
  
  .c-checkbox:nth-of-type(3):checked ~ .c-form__progress {
    width: calc((100vw / 3) + 100vw / 3);
  }
  .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) {
    visibility: hidden;
    opacity: 0;
  }
  .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__border {
    width: 0;
  }
  .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) {
    visibility: visible;
    opacity: 1;
  }
  .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__border {
    width: 100%;
  }
  .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
  .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
    color: #ff0033;
  }
  .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:required:valid ~ .c-form__border,
  .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:required:valid ~ .c-form__next {
    pointer-events: initial;
    color: #41f1b6;
  }
  
  #finish:checked ~ .c-form__progress {
    width: 100vw;
  }
  #finish:checked ~ .c-formContainer .c-form {
    transition: opacity 0.2s 0.1s, transform 0.3s;
    opacity: 0;
    transform: translateX(50%) scaleX(0);
  }
  #finish:checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) {
    transition: 0s;
    visibility: hidden;
    opacity: 0;
  }
  #finish:checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__border {
    width: 0;
  }
  #finish:checked ~ .c-formContainer .c-welcome {
    opacity: 1;
  }
  
  .c-formContainer {
    width: 180px;
    height: 65px;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  
  .c-form {
    position: relative;
    width: inherit;
    height: inherit;
    background-color: #ffffff;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }
  
  .c-form__toggle {
    width: inherit;
    height: inherit;
    font-size: 18px;
    color: #333333;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .c-form__toggleIcon {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    width: 15px;
    height: 17px;
  }
  .c-form__toggleIcon::before, .c-form__toggleIcon::after {
    content: "";
    position: absolute;
    background-color: #565656;
  }
  .c-form__toggleIcon::before {
    left: 50%;
    transform: translateX(-50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }
  .c-form__toggleIcon::after {
    bottom: 0;
    width: 100%;
    height: 7px;
    border-radius: 7px 7px 0 0;
  }
  
  .c-form__group {
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    padding: 12px 15px;
    box-sizing: border-box;
    transition: 0.2s 0.2s;
    position: absolute;
  }

  .c-welcome {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 50%;
    width: 50%;
    font-size: 40px;
    color: #ffffff;
    opacity: 0;
    transition: 0.3s;
    letter-spacing: 1px;
    text-shadow: 0px 1px 5px #222;
  }

  .Project {
    height: 0;
    bottom: 0;
    top: 110%;
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .Project p{
    position: fixed;
    top: 5px;
    right: 10px;
    font-size: 0.5em;
    color: #fff;
  }

  .Project:hover .imgMasked {
    -webkit-clip-path: circle(200px at center);
            clip-path: circle(200px at center);
  }
  .Project:hover .Project-hail {
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
  .Project:hover .Project-hail2 {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 80px solid #fff4e6;
    opacity: 0;
  }
  .Project:hover .Project-name {
    left: 300%;
    top:200%;
    opacity: 1;
  }
  .Project:hover .Project-name:before {
    width: 100%;
  }
  .Project-hail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff00;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    transition: 0.5s;
    opacity: 0.2;
  }
  .Project-hail2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 0;
    transition: 0.7s;
    border: 22px solid #2724ff;
    border-radius: 20px;
    pointer-events: none;
  }
  .imgMasked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    height: 200px;
    -webkit-clip-path: circle(20px at center);
            clip-path: circle(20px at center);
    transition: 0.5s;
    pointer-events: none;
  }
  .Project-name {
    position: absolute;
    max-width: 600px;
    min-width: 150px;
    left: 0;
    top: 150%;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(255, 255, 255);
    padding: 3px 6px;
    z-index: 2;
    opacity: 0;
  }
  .Project-name:before {
    content: '';
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(118,128,255,0.8743872549019608) 0%, rgba(39,36,255,0.5270483193277311) 100%, rgba(65,106,250,0.3533788515406162) 100%);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: -1;
    border-radius: 5%;
  }

  img{
    position: relative;
    width: 200px;
    height: 100px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(0);
    transition: all 0.8s ease;
  }

  h6{
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  
  .c-form__label {
    position: relative;
    cursor: pointer;
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  
  .c-form__input {
    font-size: 20px;
    font-family: inherit;
    width: 100%;
    height: 90%;
    border: 0;
    outline: 0;
    color: #333333;
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;
  }
  .c-form__input:focus ~ .c-form__groupLabel, .c-form__input:not(:placeholder-shown) ~ .c-form__groupLabel {
    font-size: 10px;
    top: -4px;
    transform: translateY(0);
    color: #333333;
  }
  .c-form__input:focus ~ .c-form__border,
  .c-form__input:focus ~ .c-form__next, .c-form__input:not(:placeholder-shown) ~ .c-form__border,
  .c-form__input:not(:placeholder-shown) ~ .c-form__next {
    transition: 0.3s;
  }
  .c-form__input:focus {
    cursor: initial;
  }
  
  .c-form__groupLabel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
  }
  
  .c-form__border {
    position: absolute;
    width: 0;
    height: 3px;
    color: #212a79;
    background-color: currentColor;
    transition: 1s 0.2s ease-out;
  }
  
  .c-form__next {
    color: #212a79;
    position: absolute;
    right: -40px;
    height: 100%;
    width: 40px;
    cursor: pointer;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .c-form__nextIcon {
    position: relative;
    right: 1.5px;
    width: 20px;
    height: 3px;
    background-color: currentColor;
  }
  .c-form__nextIcon::before, .c-form__nextIcon::after {
    content: "";
    position: absolute;
    right: -1.5px;
    width: 15px;
    height: 3px;
    background-color: inherit;
  }
  .c-form__nextIcon::before {
    bottom: -1.5px;
    transform-origin: top right;
    transform: rotate(45deg);
  }
  .c-form__nextIcon::after {
    top: -1.5px;
    transform-origin: bottom right;
    transform: rotate(-45deg);
  }
  
  .c-form__progress {
    position: fixed;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(145, 0, 0, 0.295);
    transition: 0.3s;
  }

/* ======================================== PHONE MEDIA ========================================== */
  @media screen and (max-width: 768px) {
    .c-welcome {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      top: 0;
      height: 50%;
      width: 50%;
      font-size: 20px;
      color: #ffffff;
      opacity: 0;
      transition: 0.3s;
      letter-spacing: 1px;
      text-shadow: 0px 1px 5px #222;
    }
  
    .img{
      height: 0;
      bottom: 0;
      top: 25rem;
      position: absolute;
      display: flex;
    }
  
    img{
      position: relative;
      width: 15rem;
      height: 15rem;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      filter: grayscale(1);
      transition: all 0.8s ease;
    }
  
    .img img:hover
    {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      filter: grayscale(0);
    }
  
    h6{
      margin-top: 3rem;
      margin-bottom: 5rem;
    }

    

  }