@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@300&display=swap');

/* ========================= VARIAVEIS ======================== */
:root{
    --azul: #212a79;
    --vermelho: #e00015;
    --cinza: #cfd0cd50;
    --light: rgba(94, 92, 255, 0.295);
    --dark-red: rgba(145, 0, 0, 0.295);
    --background:rgba(255, 255, 255, 0.800);
    --white: rgba(255, 255, 255, 0.925);
    --info-dark: #7d8da1;
    --dark-variant: #677483;
    --dark: #363949;
    --sucesso: #41f1b6;
    --atencao: #ffbb55;
    --color-git: #f03333;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3:  1.2rem;

    --card-padding: 1rem 1rem 8rem 1rem;
    --padding: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--light);
}

.dark-theme-variaveis{
    --background: #181A1E;
    --white: #202528;
    --dark: #edeffd;
    --dark-variant: #a3bdcc;
    --light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--background);
    user-select: none;
    overflow-x: hidden;
    color: var(--dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.foto_perfil{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow-x: hidden;
}

.light_text{
    color: var(--info-dark);
}

p{
    color: var(--dark-variant);
}

b{
    color: var(--dark);
}

button{
    color: var(--azul);
}

.principal{
    color: var(--azul);
}

.secundario{
    color: var(--vermelho);
}

.sucesso{
    color: var(--sucesso);
}

.atencao{
    color: var(--atencao);
}

.vermelho{
    color: var(--vermelho);
}

aside{
    height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.6rem;
    margin-bottom: 8px;
    margin-left: 0.2rem;
}

aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .fechar{
    display: none;
}

/* ========================= SIDEBAR ======================== */

aside .sidebar{
    background: var(--white);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    border-radius: 10px;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.ativado{
    background: var(--light);
    color: var(--dark);
    margin-left: 0;
}

aside .sidebar a.ativado:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--vermelho);
}

aside .sidebar a.ativado span{
    color: var(--vermelho);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--vermelho);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .quant_mens{
    background: var(--light);
    color: var(--info-dark);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* =================== MAIN ======================== */

main{
    margin-top: 1.4rem;
}

main .data{
    display: inline-block;
    background: var(--cinza);
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .data input[type="date"]{
    background: transparent;
    color: var(--info-dark);
}

main .conquistas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

main .conquistas > div{
    background: var(--white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .conquistas > div:hover{
    box-shadow: none;
}

main .conquistas > div span{
    background: var(--vermelho);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white);
    font-size: 2rem;
}

main .conquistas > div.total_cursos1 span{
    background: var(--atencao);
}

main .conquistas > div.total_cursos2 span{
    background: var(--sucesso);
}

main .conquistas > div .meio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

main .conquistas .meio .lef{
    display: grid;
    width: 13rem;
}

main .conquistas h3{
    margin: 1rem 0 0.6rem;
    font: 1rem;
}

main .conquistas .progresso{
    position: relative;
    width: 20px;
    height: 90px;
}

main .conquistas .progresso .numero{
    position: absolute;
    font-size: 20px;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 650%;
    margin-left: -700%;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: var(--white);
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: var(--white);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

main .conquistas small{
    margin-top: 1.3rem;
    margin-left: 2px;
    display: block;
}

/* ============================== PRODUTOS =============================== */
main .cursos_recentes{
    margin-top: 2rem;
}

main .cursos_recentes h2{
    margin-bottom: 1rem;
    font-size: 25px;
}

main .cursos_recentes th{
    font-size: 15px;
}

main .cursos_recentes table{
    background: var(--white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .cursos_recentes table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 4rem;
    border-bottom: 1px solid var(--info-dark);
    border-bottom-left-radius: 10px;
    color: var(--dark-variant);
}

main table tbody tr:last-child{
    border: none;
}

main .cursos_recentes a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--vermelho);
}

/* ============================= TOP RIGHT ============================== */
.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button{
    display: none;
}

.right .opcao_tema{
    background: var(--dark-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .opcao_tema span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .opcao_tema span.active{
    background: var(--vermelho);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
    width: -100%;
}

/* ========================== RECENT UPDATES ============================ */
.right .recent_updates{
    margin-top: 2rem;
}

.right .recent_updates h2{
    margin-bottom: 0.8rem;
}

.right .recent_updates .updates{
    background: var(--white);
    padding: 20px 20px 1px 15px;
    width: 100%;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent_updates .updates:hover{
    box-shadow: none;
}

.right .recent_updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 2rem;
}

/* ============================ CURSOS_COMPRAS ================================ */
.right .cursos_compras{
    margin-top: 2rem;
}

.right .cursos_compras h2{
    margin-bottom: 0.8rem;
}

.right .cursos_compras .item{
    background: var(--white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem;
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .cursos_compras .item:hover{
    box-shadow: none;
}

.right .cursos_compras .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .cursos_compras .item .icon{
    padding: 0.6rem;
    color: var(--white);
    border-radius: 50%;
    background: var(--sucesso);
    display: flex;
}

.right .cursos_compras .item.offline .icon{
    background: var(--vermelho);
}

.right .cursos_compras .item.done .icon{
    background: var(--sucesso);
}

.right .cursos_compras .add_product{
    background-color: transparent;
    border: 2px dashed var(--vermelho);
    color: var(--vermelho);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right .cursos_compras .add_product:hover{
    background: var(--dark-red);
    color: var(--dark);
}

.right .cursos_compras .add_product div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .cursos_compras .add_product div h3{
    font-weight: 600;
}

/* ======================= MEDIA QUERIES ======================== */
@media screen and (max-width: 1280px) {
    .container{
        width: 95%;
        grid-template-columns: 8rem auto 23rem;
    }

    main{
        margin-top: 1.4rem;
    }

    aside .top{
        position: fixed;
    }

    aside .top img{
        margin-left: 2.4rem;
    }

    aside .sidebar{
        position: fixed;
        margin-top: 3rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 2rem;
        width: 100%;
    }

    aside .sidebar a.ativado{
        background: var(--light);
        color: var(--dark);
        margin-left: 0;
        width: 100%;
    }

    main .conquistas{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .cursos_recentes{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .cursos_recentes table{
        width: 83vw;
    }

    main .cursos_recentes a{
        position: relative;
        margin-right: 7rem;
    }

    main table thead tr th:last-child, 
    main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr th:last-child, 
    main table tbody tr th:first-child{
        display: none;
    }

    aside .sidebar .quant_mens{
        background: var(--light);
        color: var(--info-dark);
        padding: 2px 5px;
        font-size: 11px;
        border-radius: var(--border-radius-1);
    }

}

/* ======================= MEDIA QUERIES 2 ======================== */
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        left: -100%;
        background: var(--background);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    aside .sidebar{
        position: fixed;
        left: -100%;
        background: var(--background);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--light);
        height: 100vh;
        padding-right: var(--card-padding);
        animation: showMenu 400ms ease forwards;
    }

    aside .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.4rem;
    }
    
    aside .logo{
        display: flex;
        gap: 0.6rem;
        margin-bottom: 8px;
        margin-left: 0.2rem;
    }
    
    aside .logo img{
        margin-left: 1rem;
        width: 2rem;
        height: 2rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .fechar{
        display: inline-block;
        cursor: pointer;
        margin-bottom: 2px;
        margin-left: 1rem;
        margin-right: 0.2rem;
    }

    main {
        margin-top: 8rem;
        padding: 0 2rem;
    }

    main .cursos_recentes{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .cursos_recentes table{
        width: 100%;
        margin: 0;
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--background);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--light);
    }

    .right .top .opcao_tema{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info{
        display: none;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span{
        font-size: 2rem;
    }

    .cursos_compras{
        padding: 0 0.3rem;
    }

    .recent_updates{
        padding: 0 0.3rem;
    }

    #back{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        display: none;
    }

}


/* =========================== LOADING =============================== */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
	z-index: 999;
}

#preloader .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loading {
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 1 !important;
    transition: opacity 0.2s;
  }
  
  .loading svg {
      filter: drop-shadow(2px 2px 3px #0004);
      transform: scale(.95);
      animation: loadingSvg 4s 2s ease infinite;
    }
  
  .loading .loading__rect {
      fill: var(--color-git);
      transform: scale(0) rotate(45deg);
      animation: loadingRect .5s 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
      transform-origin: 50% 50%;
    }
  
  .loading .loading__line {
      fill: none;
      stroke: var(--color-git);
      stroke-width: 5px;
      stroke-dashoffset: 20;
    }
  
  .loading .loading__line--masked {
      stroke: #ffffff;
    }
  
  .loading .loading__dot {
      fill: #ffffff;
      transform: scale(0);
      animation: loadingDot .8s cubic-bezier(0.175, 0.885, 0.32, 1.8) forwards;
    }
  
  .loading .loading__dot--1 {
      transform-origin: 58% 48%;
      animation-delay: 2.75s;
      animation: loadingDot 2s 2s ease forwards;
    }
  
  .loading .loading__dot--2 {
      transform-origin: 50% 50%;
      animation-delay: 1.7s;
      animation: loadingDot 2s 2s ease forwards;
    }
  
  .loading .loading__dot--3 {
      transform-origin: 50% 50%;
      animation-delay: 3.85s;
      animation: loadingDot 4s 2s ease forwards;
    }
  
  .loading #loading__mask {
      fill: red;
    }
  
  .loading .loading__rect--masked {
      fill: #ffffff;
    }
  
  .loading .loading__center {
      fill: none;
      stroke: var(--color-git);
      transform: scale(0);
      transform-origin: 50% 50%;
      animation: loadingCenter 1s ease forwards;
    }
  
  .loading .loading__line--1 {
      stroke-dasharray: 20 585;
      animation: loadingLine1 1.5s 0.7s ease forwards;
    }
  
  .loading .loading__line--2 {
      stroke-dasharray: 20 630;
      animation: loadingLine2 2.7s 0.7s ease forwards;
    }
  
  .loading .loading__title {
      opacity: 0;
      transform: scale(.95) translateY(-50%);
      animation: loadingTitle 4s 2s ease infinite;
    }
  
  @keyframes loadingCenter {
    0%,
    100% {
      opacity: 1;
      transform: scale(0);
      stroke-width: 30px;
    }
    60% {
      opacity: 1;
      transform: scale(2);
      stroke-width: 3px;
    }
  }
  
  @keyframes loadingLine1 {
    0% {
      stroke-dasharray: 20 585;
    }
    100% {
      stroke-dasharray: 480.5 516.5;
      stroke-dashoffset: -516.5;
    }
  }
  
  @keyframes loadingLine2 {
    0% {
      stroke-dasharray: 20 630;
      stroke-dashoffset: 20;
    }
    100% {
      stroke-dasharray: 350 575;
      stroke-dashoffset: -575;
    }
  }
  
  @keyframes loadingRect {
    0% {
      transform: scale(0) rotate(45deg);
    }
    100% {
      transform: scale(1) rotate(450deg);
    }
  }
  
  @keyframes loadingDot {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes loadingTitle {
    0%,
    100% {
      transform: scale(.95) translateY(-50%);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.05) translateY(0);
    }
  }
  
  @keyframes loadingSvg {
    0%,
    100% {
      transform: scale(.95);
    }
    50% {
      transform: scale(1.05);
    }
  }