@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


:root {
    --timing: cubic-bezier(.645,.045,.355,1);
}
*{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    line-height: 1rem;
    letter-spacing: 5px;
}

header{
    background-color: rgba(4,30,66,1);
    border-bottom: 1px ridge rgba(2, 17, 37, 0.8);
    opacity: 100%;
    color: white;
}
body {
  margin: 0px;
  background: linear-gradient(-45deg, #d7d7d7, #dddddd, #d1d1d1, #f9f9f9);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  height: 100vh;
}
footer{
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 0, 80);
  color: #FFF;
  width: 100%;
  text-align: center;
  line-height: 0px;
  opacity: 80%;
}



.logo-principal{
    position: relative;
    width: 3%;
    left: 96.7%;
    padding-bottom: 0;
    margin-top: 0.1%;
}
.logo2 {
    position: relative;
    width: 12%;
    right: 2.7%;
    margin-bottom: 0.3%;
}


.pedalcar{
    display: flex;
    justify-content: center;
}
.pedalcar img{
    position: relative;
    width: 32%;
    margin-top: 0.5%;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    margin-top: 5%;
}


.red-background{
    background: #cd0000;
    transition: background-color 2s ease-in-out;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}






.box1 {
  width: 300px;
  height: 300px;
  margin-right: 5%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border-style: groove;
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.25);
  background-color: #E7E9EE;
}
.box2 {
    width: 300px;
    height: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    border-style: groove;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: #E7E9EE;
}
.box3 {
  width: 300px;
  height: 300px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border-style: groove;
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.25);
  background-color: #E7E9EE;
  transition: background-color 2s ease-in-out;
}
.andonativo{
  background-color: #fffb19;
  transition: background-color 2s ease-in-out;
}




.topbox1 img{
  position: relative;
  left: 31%;
  top: 20px;
  width: 38%;
}
.topbox2 img{
    position: relative;
    left: 14.5%;
    top: 20px;
    width: 70%;
}
.topbox3 img{
  position: relative;
  left: 24%;
  top: 20px;
  width: 50%;
}





.topmenu{
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: #eee;
}





.midbox1{
  height: 80%;
  display: flex;
  align-items: center;
  font-size: 50px;
}
.midbox2{
  height: 80%;
  display: flex;
  align-items: center;
  font-size: 50px;
}
.midbox3{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 50px;
    margin-top: 20%;
}






.botbox3{
    display: flex;
    align-items: center;
}
.botbox3 button {
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.botbox3 img{
    width: 30%;
}








.botmenu{
    display: flex;
    width: 32.05em;
    font-size: 1.5em;

    position: relative;
    align-items: center;
    justify-content: center;

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    padding-top: 8px;
    padding-bottom: 8px;
    bottom: 0;

    background-color: #eee;
    border-style: none;
    box-shadow: 5px 4px 20px rgba(63, 63, 63, 0.25);
    border-radius: 10px 50px;
}
.botmenu img {
    padding: 5%;
}












.btns-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-column: auto;
  padding: 18px;
  gap: 50px;
  transform: scale(3);
}
.btn {
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  padding: 1px;
  box-shadow: 4px 2px 5px rgba(136, 165, 191, 0.5), -4px -2px 10px #FFFFFF;
  -webkit-tap-highlight-color: transparent;
}
.btn .inner-wrapper {
width: 100%;
height: 100%;
border-radius: 5px;
transition: all .2s ease-in-out;
display: grid;
place-items: center;
}
.btn .inner-wrapper i {
user-select: none;
transition: all .2s ease-in-out;
font-size: 20px;
position: relative;
color: rgba(201, 215, 230, 0.8);
text-shadow: 2px 2px 2px #d6e1ef99, 0 0 0 #000, 2px 2px 2px #d6e1ef00;
}
.btn.active .inner-wrapper {
box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
}
.btn.active .inner-wrapper i {
text-shadow: 1px 1px 1px #d6e1ef99, 0 0 0 #000, 1px 1px 1px #d6e1ef00;
}






.buttons1{
    width: 10%;
    margin-right: 15%;
}
.play{
    width: 100%;
}


.buttons2{
    width: 10%;
}
.stop{
    width: 100%;
}


.buttons3{
    width: 10%;
    margin-left: 15%;
}
.reset{
    width: 100%;
}








.botbox3 button {
    --w: 8em;
    --bg: rgb(var(--rgb));
    --bga: rgba(var(--rgb), .4); /* Safari fix */
    border: none;
    font-size: 70%;
    width: var(--w);
    height: var(--w);
    background: var(--bg);
    box-shadow: 0 3px 12px 2px var(--bga);
    bottom: 15%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .1s transform, .3s box-shadow;
    will-change: transform, box-shadow;
    backface-visibility: hidden;
  }
  .botbox3 button > * {
    pointer-events: none;
  }
  .botbox3 button:focus {
    outline: none;
  }
  .botbox3 button:active {
    transform: scale(.97);
  }
  .botbox3 button:after {
    --bg: rgb(var(--rgb));
    content: '';
    position: absolute;
    top: -15%;
    left: -15%;
    width: 200%;
    height: 200%;
    background: var(--bg);
    border-radius: inherit;
    transform: translate(5%, 5%) scale(.03);
    pointer-events: none;
  }
  .botbox3 button.animating:after {
    animation: c .5s cubic-bezier(.5, 0, .5, 1) backwards;
  }
  .botbox3 button.active,
  .botbox3 button:not(.active):after {
    --rgb: 64,227,120;
  }
  .botbox3 button:not(.active),
  .botbox3 button.active:after {
    --rgb: 229, 55, 94;
  }
  @keyframes c {
    to {
      transform: none;
    }
  }
  .botbox3 button span {
    display: inline-block;
    position: relative;
    margin-top: 5px;
  }
  .botbox3 button b {
    --w: 7px;
    overflow: hidden;
    border-radius: var(--w);
    display: grid;
    width: var(--w);
    height: 35px;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 3;
    will-change: transform;
  }
  .botbox3 button b:before {
    content: '';
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: var(--w);
    transform: translateY(-15px);
    transition-timing-function: var(--timing);
    transition: .5s;
  }
  .botbox3 button.active b:before {
    transform: translateY(12px);
    transition-delay: .27s;
    transition-timing-function: cubic-bezier(.25, .25, .25, 1.25);
  }
  .botbox3 button svg {
    --dash: 190;
    stroke-linecap: round;
    stroke-dasharray: var(--dash);
    stroke-dashoffset: var(--dash);
    width: 46px;
    height: 46px;
    transform: scaleX(-1) rotate(-89deg);
    transition: .4s;
    transition-timing-function: var(--timing);
    margin: auto;
    position: relative;
    z-index: 1;
    will-change: transform, stroke-dashoffset;
  }
  .botbox3 button:not(.active) svg {
    stroke-dashoffset: 40;
    transform: scaleX(-1) rotate(-52deg);
    transition: .5s .25s;
  }
